<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <div style="margin: 1rem;">
            <PageTitle>404 Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3 class="alert-danger" style="border-radius: 3px; padding: 5px; font-weight: bold">404 Not Found</h3>
                <div style="margin-top: 15px">
                    <p>The requested page could not be found.</p>
                </div>
            </LayoutView>
        </div>
    </NotFound>
</Router>
